// 使footer置底 start
html,body{
    height: 100%;
    margin: 0;
}
body {
    display: flex; /*使物件依序排列*/
    flex-direction: column; /*使物件垂直排列*/
}
main{
        flex-grow: 1; /*可佔滿垂直剩餘的空間*/
        background-color: $body-bg;
}
// 使footer置底 end

a{  
    display: block;
    color: inherit;
    &:hover{
        color: inherit;
    }
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

h1, h2, h3, h4, h5, h6,p{
    margin: 0;
}


ol, ul {
	list-style: none;
    padding-left: 0;
    margin: 0;
}

sub{
    bottom: 0;
}

.btn{
    padding-left: 10px;
    padding-right: 10px;
}
