


.draggble {
    padding: 1rem;
    border: 1px solid black;
  }
  .dropContainer {
    display: flex;
    justify-content: space-around;
  }
  .productBacklog {
    height: 500px;
    width: 100%;
  }
  .message {
    font-size: 20px;
  }
  .messageWorng {
    color: red;
  }
  .messageCorrect {
    color: green;
  }
  .candidate {
    min-height: 410px;
    min-width: 100px;
  }