  .dropContainer {
    display: flex;
    justify-content: space-around;
  }
  .productBacklog {
    min-height: 512px;
    width: 100%;
  }
  .message {
    font-size: 20px;
  }
  .messageWrong {
    color: $primary;
  }
  .messageCorrect {
    color: $secondary;
  }
  

  .modal__test--ok{
    display: none;
    &.open{
        display: flex;
    }
}

.modal__test--wrong{
    display: none;
    &.open{
        display: flex;
    }
}