
.sprint-section {
  min-height: 712px;
}

.droppable-container {
  min-height: 550px;
}

.draggble {
  padding: 16px;
  font-size: 24px;
  border: 8px solid $secondary-yellow;
  margin-bottom: 20px;

}

.time-avatar {
  display: flex;
  align-items: center;
  font-size: 12px;
  color:  $secondary-yellow ;

  li{
    width: 8px;
    height: 8px;
    background: $secondary-yellow;
    margin-left: 4px;
  }
}
.boxes{
  width: 14px;
  height: 14px;
}
.warning-text {
  color: $secondary-yellow;
}

.hidden {
  display: none;
}
/* .ghost {
  opacity: 0.4;
  background-color: yellow;
  width: 10%;
  text-align: center;
} */
