<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body>
    <header class="header">
      <div class="progressBar  <%- barWidth %> "></div>
      <div class="bg-gray-70 h-8n"></div>
      <div class="bg-black h-4n opacity-40"></div>
    </header>

    <main>
      <%- contents %>
    </main>

    <footer class="footer bg-primary-30 py-2">
      <p class="text-center fs-8 opacity-100">
        2022 F2E 4th week3 Program:Potato Lee / Design:Coral
      </p>
    </footer>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./assets/js/vendors.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.15.0/Sortable.min.js"></script>
  
    <script src="./assets/js/all.js"></script>
  </body>

</html>